In [0]:
import org.apache.spark.sql.SparkSession
val spark = SparkSession
  .builder()
  .getOrCreate()
val sqlcontext = spark.sqlContext
sqlcontext

In [1]:
val sqlcontext = new org.apache.spark.sql.SQLContext(sc)

In [2]:
val actorVar = sqlcontext 
                .read 
                .option("header",true) 
                .option("delimiter",";") 
                .csv("file:/tmp/files/actor.csv") 
                
val addressVar = sqlcontext 
                .read 
                .option("header",true) 
                .option("delimiter",";") 
                .csv("file:/tmp/files/address.csv") 
                
val categoryVar = sqlcontext 
                .read 
                .option("header",true) 
                .option("delimiter",";") 
                .csv("file:/tmp/files/category.csv")    
                
val cityVar = sqlcontext 
                .read 
                .option("header",true) 
                .option("delimiter",";") 
                .csv("file:/tmp/files/city.csv") 
                
val countryVar = sqlcontext 
                .read 
                .option("header",true) 
                .option("delimiter",";") 
                .csv("file:/tmp/files/country.csv") 

val customerVar = sqlcontext 
                .read 
                .option("header",true) 
                .option("delimiter",";") 
                .csv("file:/tmp/files/customer.csv") 

val filmVar = sqlcontext 
                .read 
                .option("header",true) 
                .option("delimiter",";") 
                .csv("file:/tmp/files/film.csv") 

val film_actorVar = sqlcontext 
                .read 
                .option("header",true) 
                .option("delimiter",";") 
                .csv("file:/tmp/files/film_actor.csv")    
                
val film_categoryVar = sqlcontext 
                .read 
                .option("header",true) 
                .option("delimiter",";") 
                .csv("file:/tmp/files/film_category.csv") 

val inventoryVar = sqlcontext 
                .read 
                .option("header",true) 
                .option("delimiter",";") 
                .csv("file:/tmp/files/inventory.csv")         
                
val languageVar = sqlcontext 
                .read 
                .option("header",true) 
                .option("delimiter",";") 
                .csv("file:/tmp/files/language.csv")

In [3]:
actorVar.createOrReplaceTempView("actorTB")
addressVar.createOrReplaceTempView("addressTB")
categoryVar.createOrReplaceTempView("categoryTB")
cityVar.createOrReplaceTempView("cityTB")
countryVar.createOrReplaceTempView("countryTB")
customerVar.createOrReplaceTempView("customerTB")
filmVar.createOrReplaceTempView("filmTB")
film_actorVar.createOrReplaceTempView("film_actorTB")
film_categoryVar.createOrReplaceTempView("film_categoryTB")
inventoryVar.createOrReplaceTempView("inventoryTB")
languageVar.createOrReplaceTempView("languageTB")

In [4]:
sqlcontext.sql("select * from actorTB").show()
sqlcontext.sql("select * from addressTB").show()
sqlcontext.sql("select * from categoryTB").show()
sqlcontext.sql("select * from cityTB").show()
sqlcontext.sql("select * from countryTB").show()
sqlcontext.sql("select * from customerTB").show()
sqlcontext.sql("select * from filmTB").show()
sqlcontext.sql("select * from film_actorTB").show()
sqlcontext.sql("select * from film_categoryTB").show()
sqlcontext.sql("select * from inventoryTB").show()
sqlcontext.sql("select * from languageTB").show()

In [5]:
sqlcontext.sql("show tables").show();

In [6]:
%spark.sql
select * from actortb;

In [7]:
actorVar.printSchema()
addressVar.printSchema()
categoryVar.printSchema()
cityVar.printSchema()
countryVar.printSchema()
customerVar.printSchema()
filmVar.printSchema()
film_actorVar.printSchema()
film_categoryVar.printSchema()
inventoryVar.printSchema()
languageVar.printSchema()

In [8]:
%spark.sql
CREATE TABLE ActorVar (
   actor_id BIGINT,
   first_name STRING,
   last_name STRING,
   last_update STRING
) USING orc

In [9]:
%spark.sql
CREATE TABLE AddressVar (
   address_id BIGINT,
   address STRING,
   address2 STRING,
   district STRING,
   city_id BIGINT,
   postal_code STRING,
   phone STRING,
   location STRING,
   last_update STRING
) USING orc

In [10]:
%spark.sql
CREATE TABLE CategoryVar (
   category_id BIGINT,
   name  STRING,
   last_update  STRING
) USING orc

In [11]:
%spark.sql
CREATE TABLE CityVar (
   city_id BIGINT,
   city STRING,
   country_id BIGINT,
   last_update STRING
) USING orc

In [12]:
%spark.sql
CREATE TABLE countryVar (
   country_id BIGINT,
   country STRING,
   last_update STRING
) USING orc

In [13]:
%spark.sql
CREATE TABLE CustomerVar (
   customer_id BIGINT,
   store_id BIGINT,
   first_name STRING,
   last_name STRING,
   email STRING,
   address_id BIGINT,
   active STRING,
   create_date STRING,
   last_update STRING
) USING orc

In [14]:
%spark.sql
CREATE TABLE FilmVar (
   film_id BIGINT,
   title STRING,
   description STRING,
   release_year STRING,
   language_id BIGINT,
   original_language_id BIGINT,
   rental_duration STRING,
   rental_rate STRING,
   length STRING,
   replacement_cost STRING,
   rating STRING,
   special_features STRING,
   last_update STRING
) USING orc

In [15]:
%spark.sql
CREATE TABLE Film_actorVar (
   actor_id BIGINT,
   film_id BIGINT,
   last_update STRING
) USING orc

In [16]:
%spark.sql
CREATE TABLE Film_categoryVar (
   film_id BIGINT,
   category_id BIGINT,
   last_update STRING
) USING orc

In [17]:
%spark.sql
CREATE TABLE InventoryVar (
   inventory_id BIGINT,
   film_id BIGINT,
   store_id BIGINT,
   last_update STRING
) USING orc

In [18]:
%spark.sql
CREATE TABLE LanguageVar (
   language_id BIGINT,
   name STRING,
   last_update STRING
) USING orc

In [19]:
sqlcontext.sql("insert into ActorVar select * from actorTB"); 
sqlcontext.sql("insert into AddressVar select * from addressTB"); 
sqlcontext.sql("insert into CategoryVar select * from categoryTB"); 
sqlcontext.sql("insert into CityVar select * from cityTB"); 
sqlcontext.sql("insert into CountryVar select * from countryTB"); 
sqlcontext.sql("insert into CustomerVar select * from customerTB"); 
sqlcontext.sql("insert into FilmVar select * from filmTB"); 
sqlcontext.sql("insert into Film_actorVar select * from film_actorTB"); 
sqlcontext.sql("insert into Film_categoryVar select * from film_categoryTB"); 
sqlcontext.sql("insert into InventoryVar select * from inventoryTB"); 
sqlcontext.sql("insert into LanguageVar select * from languageTB");

In [20]:
%spark.sql
select * from FilmVar limit 10

In [21]:
%spark.sql
select language_id, count(*) as Resultado from FilmVar 
GROUP BY language_id

In [22]:
%spark.sql
select FilmVar.title, LanguageVar.name 
from FilmVar join LanguageVar
on LanguageVar.language_id = FilmVar.language_id

In [23]:
%spark.sql
select CustomerVar.first_name, CityVar.city from CustomerVar
join AddressVar on AddressVar.address_id = CustomerVar.address_id
join CityVar on CityVar.city_id = AddressVar.city_id